@font-face {
    font-family: "Acumin";
    src: url("../../fonts/Acumin-BdPro.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #0078ff;
    --secondary-color: #07254f;
    --background-color: #f3f5f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Acumin", sans-serif;
    text-rendering: optimizeLegibility;
}


/*Example use of var colors

  h1 {
    color: var(--primary-color);
  }

*/