nav ul li{
    line-height: 30px !important;
    padding-right: 10px !important;
}

.brand-logo {
    padding-left: 10px !important;
    color: black !important;
}

.material-icons {
    display: inline-block !important;
}

nav {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
}

nav ul li a {
    color: black !important;
    text-align: center !important;
    padding: 0px 15px;

}

.current-tab {
    border-top: 5px solid #141414 !important;
}

nav ul {
    width: fit-content !important;
}

#vertical-line{
    border-left: 1px solid grey;
    height: 30px !important;
}

.design-hover:hover{
    background-color: #000000 !important;
    color: white !important;
    z-index: 999 !important;
}

.carousel .indicators {
    text-align: left !important;
    padding-left: 15px !important;
}

.footer {
    background-color: #0078FF;
    color: var(white);
    min-height: fit-content;
    text-align: left;
    font-family: Galano, Acumin, sans-serif !important;
}

.footer-item {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1rem;
}

.footer-item h6 {
    color: var(--secondary-color);
}

.footer-item ul {
    color: var(--secondary-color);
    list-style-type: none;
}

@font-face {
    font-family: "Galano";
    src: url("../../fonts/GalanoGrotesqueDEMOBold.otf");
    font-weight: normal;
    font-style: normal;
  }