nav {
    background-color: var(--secondary-color) !important;
}

#second-navbar{
    padding-top: 10px;
}

@media only screen and (max-width: 440px) {
    #second-navbar {
      padding-top: 20px;
    }
    nav {
        line-height: 1.5 !important;
    }
  }