nav ul li{
    line-height: 30px !important;
    padding-right: 10px !important;
}

.brand-logo {
    padding-left: 10px !important;
    color: black !important;
}

.material-icons {
    display: inline-block !important;
}

nav {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
}

nav ul li a {
    color: black !important;
    text-align: center !important;
    padding: 0px 15px;

}

.current-tab {
    border-top: 5px solid #141414 !important;
}

nav ul {
    width: fit-content !important;
}

#vertical-line{
    border-left: 1px solid grey;
    height: 30px !important;
}

.design-hover:hover{
    background-color: #000000 !important;
    color: white !important;
    z-index: 999 !important;
}