                .text-center {
                    color: blue;
                }
                
                .text-center2 {
                    color: black;
                }
                
                #my-card {
                    background-color: rgb(42, 81, 165) !important;
                }
                #margin { 
                    margin: 0 !important;
                    padding: 0 !important; 
                  }