                .text-center {
                    color: blue;
                }
                
                .text-center2 {
                    color: black;
                }
                
                #my-card {
                    background-color: brown !important;
                }